version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      go-dependencies:
        patterns:
          - "*"
        applies-to: version-updates

  - package-ecosystem: "npm"
    directory: "/documentation"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      node-dependencies:
        patterns:
          - "*"
        applies-to: version-updates
