settings:
  page_load_timeout: 30000
  concurrency: 1
  report_format: "html"
  gherkin_location: "e2e/features"


frontend:
  base_url: "{{ env.frontend_base_url }}"
  default_timeout: 1000
  headless: true
  screenshot_on_failure: true
  think_time: 500

  user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
  locale: "en-US"  # Browser locale (e.g., "en-US", "fr-FR", "de-DE")
  timezone_id: "America/New_York"  # IANA timezone (e.g., "Europe/Paris", "Asia/Tokyo")



  elements:
    common:
      visual_test_button:
        - "button"
      textarea_field:
        - "#textarea"
      double_click_button:
        - "#dbclick-btn"
      test_radio_button:
        - "#radio1"
      second_test_radio_button:
        - "#radio2"
      nonexistent_button:
        - "#inexistent"
      hidden_button:
        - "#hidden-btn"
      product_name_element:
        - "#product-name"
      non-existent_button:
        - "#non-existent"
      product_description_element:
        - "#product-description"
      scroll_target_element:
        - "#target-element"

    form_e2e:
      page_title:
        - "#page-title"
      text_field:
        - "xpath://*[@id='text']"
      test_checkbox:
        - "#checkbox"
        - "#rtt"
        - "input[type='checkbox']"
      test_dropdown:
        - "#select"
      multiple_dropdown:
        - "#select-multiple"

    file_upload_e2e:
      avatar_field:
        - "input[type='file'][name='avatar']"
        - "#avatar-upload"
      gallery_field:
        - "input[type='file'][name='gallery'][multiple]"
        - "#gallery-upload"
      document_field:
        - "input[type='file'][name='document']"
      data_field:
        - "input[type='file'][name='data']"
        - "#data-upload"
      upload_button:
        - "#upload-btn"
        - "button[type='submit']"
      status_message:
        - "#status-message"
      file_list:
        - "#file-list"
      files_uploaded_block:
        - "#file-items"

    login_e2e:
      page_title:
        - "#page-title"
      email_field:
        - "#email"
      password_field:
        - "#password"
      login_button:
        - "#login-button"
      auth_token_display:
        - "#auth-token-display"
      success_message:
        - "#success-message"

  pages:
    form_e2e: "form"
    file_upload_e2e: "file-upload"
    google: "{{ env.google_url }}"
    visual_e2e: "visual"
    table_e2e: "/table"
    details_e2e: "/details"
    scroll_e2e: "/scroll"
    login_e2e: "login"

apis:
  default_timeout: 30000

  definitions:
    jsonplaceholder:
      type: rest
      base_url: "{{ env.jsonplaceholder_base_url }}"
      default_headers:
        Content-Type: "application/json"
        Accept: "application/json"
        User-Agent: "TestFlowKit/1.0"
        X-Requested-With: "TestFlowKit"
      endpoints:
        get_posts:
          method: "GET"
          path: "/posts"
          description: "Retrieve all posts"

        get_post_by_id:
          method: "GET"
          path: "/posts/{id}"
          description: "Retrieve a specific post by ID"

        create_post:
          method: "POST"
          path: "/posts"
          description: "Create a new post"

        delete_post:
          method: "DELETE"
          path: "/posts/{id}"
          description: "Delete a post"

        get_albums:
          method: "GET"
          path: "/albums"
          description: "Retrieve all albums"

        get_album_by_id:
          method: "GET"
          path: "/albums/{id}"
          description: "Retrieve a specific album by ID"

        get_photos:
          method: "GET"
          path: "/photos"
          description: "Retrieve all photos"

        get_photos_by_album:
          method: "GET"
          path: "/albums/{id}/photos"
          description: "Retrieve photos for a specific album"

    almansi_graphql:
      type: graphql
      endpoint: "{{ env.almansi_graphql_endpoint }}"
      default_headers:
        Content-Type: "application/json"
      operations:
        getUser:
          type: "query"
          operation: |
            query GetUser($id: ID!) {
              user(id: $id) {
                id
                username
                email
              }
            }
          description: "Fetch user by ID"
        
        createPost:
          type: "mutation"
          operation: "graphql_queries/create_post.graphql"
          description: "Create a new post"
          
        deletePost:
          type: "mutation"
          operation: |
            mutation DeletePost($id: ID!) {
              deletePost(id: $id)
            }
          description: "Delete a post"

files:
  base_directory: "./test-files"
  definitions:
    avatar_image: "images/avatar.png"
    gallery_image1: "images/gallery/image1.jpg"
    gallery_image2: "images/gallery/image2.jpg"
    gallery_image3: "images/gallery/image3.jpg"
    test_document: "documents/test.pdf"
    sample_csv: "data/sample.csv"
